*{
  margin:0;
  padding:0;
}
div{
  box-sizing: border-box;
}
html,body,#app{
  height:100%;
  overflow: hidden;
}
body{
  user-select: none;  
}
.f-thide{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.2;
}