*{
  margin:0;
  padding:0;
}
div{
  box-sizing: border-box;
}
html,body,#app{
  height:100%;
  overflow: hidden;
}
body{
  user-select: none;  
}
.f-thide{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.2;
}

.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height:200px;
  font-size: 20px;
  color:#000;  
}
.loading .icon{
  width:20px;
  height:20px;
  margin-right: 3px;
  background-image: url(./img/loading.png);
  background-size: 100% 100%;
  animation:rotate .5s linear infinite;
}
@keyframes rotate{ 
  0%{transform:rotate(0deg);} 
  25%{transform:rotate(90deg);} 
  50%{transform:rotate(180deg);} 
  75%{transform:rotate(270deg);} 
  100%{transform:rotate(360deg);} 
}